body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

header{
text-align:center;
padding:20px;
}

.credit{
opacity:0.6;
font-size:14px;
}

input{
padding:10px;
border-radius:5px;
border:none;
}

button{
padding:10px;
border:none;
background:#7a2cff;
color:white;
cursor:pointer;
border-radius:5px;
}

#genres{
display:grid;
grid-template-columns:repeat(auto-fill,120px);
gap:10px;
padding:20px;
}

.genre{
background:#111;
padding:10px;
border-radius:10px;
cursor:pointer;
text-align:center;
}

#songs{
display:grid;
grid-template-columns:repeat(auto-fill,180px);
gap:15px;
padding:20px;
}

.song{
background:#111;
padding:10px;
border-radius:10px;
}

#player{
position:fixed;
bottom:0;
width:100%;
background:#111;
display:none;
align-items:center;
gap:10px;
padding:10px;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}
